body {
  padding: 20px 40px;
}

h1 {
  text-transform: uppercase;
  text-align: center;
}

h2 {
  height: 70px;
  margin-top: 10px;
}

p {
  color: gray;
  height: 80px;
  overflow: hidden;
}

img,
.btn-primary,
.btn-success,
.btn-danger {
  width: 100%;
  margin: 5px 0;
}

img {
  height: 300px;
}

#product-list {
  padding: 20px 0;
}

#product-list div.row {
  padding: 50px 0 !important;
}

#product-list div.row > div {
  margin: 20px 0 !important;
}

.products-item {
  border: 1px solid gray;
  padding: 10px;
}

.cart {
  padding: 20px 0;
}

.cart h1 {
  text-align: left;
}

.cart table thead th:last-child,
.cart table tbody td:last-child {
  width: 10%;
}

.cart table tbody td:nth-child(3),
.cart table tbody td:nth-child(5) {
  width: 20%;
}

#form {
  width: 50%;
  margin: 0 auto;
}

[class$="-validation"] {
  color: red;
  font-weight: bold;
}
